Repository edombelayneh/Hirelytics: changes, and which lint-staged commands are due for each by the changed paths.
All: stylelint --fix, prettier --write, eslint --fix

.lintstagedrc:

{
  "*.css": [
    "stylelint --fix", 
    "prettier --write"
  ],
  "*.{js,jsx,ts,tsx}": [
    "eslint --fix", 
    "prettier --write"
  ],
  "!(*.css|*.js|*.jsx|*.ts|*.tsx)": [
    "prettier --write --ignore-path .prettierignore"
  ]
}

edited the logo: added curving to the bottom of the graph and H, made the icon have a black background for better viewing in browser, fixed other spacing issues
  app/favicon.ico
  public/Hirelytics_H-Logo.png
  public/Hirelytics_Logo.png
Due: none

edited the types of documents the prettier works on
  .lintstagedrc
Due: none

worked on the add application form.
  app/jobElements/jobForm.tsx
  app/jobs/page.tsx
Due: prettier --write, eslint --fix

made sure logo was centered
  app/favicon.ico
Due: none

added lintStages package
  package-lock.json
  package.json
Due: none

link firebase with clerk for user creation and manipulation
  .vscode/settings.json
  app/api/firebase/custom-token/route.ts
  app/applications/page.tsx
  app/layout.tsx
  app/lib/firebaseAdmin.ts
  app/lib/firebaseClient.ts
  app/page.tsx
  app/utils/linkClerkToFirebase.ts
  app/utils/protectedAction.tsx
  package-lock.json
  package.json
Due: prettier --write, eslint --fix

write to firebase from clerk sign ins
  app/api/firebase/custom-token/route.ts
  app/lib/firebaseAdmin.ts
  app/lib/firebaseClient.ts
Due: prettier --write, eslint --fix

clean up
  app/applications/page.tsx
  app/lib/firebaseAdmin.ts
  app/lib/firebaseClient.ts
  app/utils/linkClerkToFirebase.ts
  app/utils/protectedAction.tsx
Due: prettier --write, eslint --fix

updated spacing and sizing on nav bar
  app/components/Navbar.tsx
  package-lock.json
Due: prettier --write, eslint --fix

changed gitignore
  .gitignore
Due: none

remove settings
  .vscode/settings.json
Due: none

single attributes for each line enabled
  .prettierrc.json
  app/applications/page.tsx
  app/components/ApplicationsTable.tsx
  app/components/AvailableJobsList.tsx
  app/components/HeroPanel.tsx
  app/components/JobCard.tsx
  app/components/Navbar.tsx
  app/components/figma/ImageWithFallback.tsx
  app/components/ui/accordion.tsx
  app/components/ui/alert-dialog.tsx
  app/components/ui/aspect-ratio.tsx
  app/components/ui/badge.tsx
  app/components/ui/breadcrumb.tsx
  app/components/ui/calendar.tsx
  app/components/ui/card.tsx
  app/components/ui/carousel.tsx
  app/components/ui/collapsible.tsx
  app/components/ui/command.tsx
  app/components/ui/context-menu.tsx
  app/components/ui/dialog.tsx
  app/components/ui/drawer.tsx
  app/components/ui/dropdown-menu.tsx
  app/components/ui/form.tsx
  app/components/ui/hover-card.tsx
  app/components/ui/input-otp.tsx
  app/components/ui/menubar.tsx
  app/components/ui/pagination.tsx
  app/components/ui/popover.tsx
  app/components/ui/resizable.tsx
  app/components/ui/select.tsx
  app/components/ui/sheet.tsx
  app/components/ui/sidebar.tsx
  app/components/ui/table.tsx
  app/components/ui/tooltip.tsx
  app/home/page.tsx
  app/jobs/page.tsx
  app/layout.tsx
  app/page.tsx
  app/utils/protectedAction.tsx
Due: prettier --write, eslint --fix

Restore protectedAction into landing-feature
  app/utils/protectedAction.tsx
Due: prettier --write, eslint --fix

Merge new main changes
  app/profile/page.tsx
Due: prettier --write, eslint --fix

separate hero section for recruiter and applicant
  app/home/page.tsx
  app/lib/getUserRole.ts
  app/roleSelection/page.tsx
Due: prettier --write, eslint --fix

clean up
  app/home/page.tsx
Due: prettier --write, eslint --fix

Add Jobs component with application handling and UI enhancements
  app/components/AvailableJobsList.tsx
  app/jobs/page.tsx
  app/page.tsx
  temp_jobs.tsx
Due: prettier --write, eslint --fix

Refactor code style for consistency by removing semicolons in availableJobs interface and reordering imports in MyApplicationsPage
  app/applications/page.tsx
  app/data/availableJobs.ts
Due: prettier --write, eslint --fix

Update page components and dependencies
  app/applications/page.tsx
  app/components/ApplicationsTable.tsx
  app/page.tsx
  package-lock.json
Due: prettier --write, eslint --fix

updated if else to route to profile page
  app/components/Navbar.tsx
  app/page.tsx
Due: prettier --write, eslint --fix

formatting, more dependencies
  app/data/profileData.ts
  app/page.tsx
  app/profile/page.tsx
  package-lock.json
Due: prettier --write, eslint --fix

Merge branch 'CreateProfileDashboard' of https://github.com/edombelayneh/Hirelytics into CreateProfileDashboard
  app/components/Navbar.tsx
  app/page.tsx
Due: prettier --write, eslint --fix

package file
  package-lock.json
Due: none

Update page components and dependencies
  app/JobData/data/availableJobs.ts
  app/applications/page.tsx
  app/components/ApplicationsTable.tsx
  app/components/AvailableJobsList.tsx
  app/components/HeroPanel.tsx
  app/components/SummaryCards.tsx
  app/components/ui/calendar.tsx
  app/components/ui/dialog.tsx
  app/jobs/page.tsx
  app/page.tsx
  package-lock.json
  temp_jobs.tsx
Due: prettier --write, eslint --fix

Removed old code from page.tsx
  app/page.tsx
Due: prettier --write, eslint --fix

add available jobs dataset and AvailableJob interface definition
  app/JobData/data/availableJobs.ts
Due: prettier --write, eslint --fix

removed comments in code that we are not using
  app/page.tsx
Due: prettier --write, eslint --fix

Removed spaces
  app/page.tsx
  postcss.config.mjs
Due: prettier --write, eslint --fix

added comments to sign-in and sign-up functions
  app/api/firebase/custom-token/route.ts
  app/layout.tsx
  app/lib/firebaseAdmin.ts
  app/lib/firebaseClient.ts
  app/sign-in/[[...sign_in]]/page.tsx
  app/sign-up/[[...sign_up]]/page.tsx
  app/utils/linkClerkToFirebase.ts
  app/utils/protectedAction.tsx
  middleware.ts
Due: prettier --write, eslint --fix

more comments
  app/home/page.tsx
  app/page.tsx
Due: prettier --write, eslint --fix

fixed home page and installed stylelint
  .lintstagedrc
  app/globals.css
  app/home/page.tsx
Due: stylelint --fix, prettier --write, eslint --fix

remove image imports from merge
  public/Applicantinterface.png
  public/Postinterview.png
  public/Recruiterinterface.png
Due: none

remove Terms, Privacy, Cookies from footer
  app/home/page.tsx
Due: prettier --write, eslint --fix

changed color order of icons, made teal background buttons have black text
  app/home/page.tsx
Due: prettier --write, eslint --fix

Fix optional chaining and safeguard against undefined applications in statistics calculations
  app/components/ApplicationsTable.tsx
  app/jobs/page.tsx
  app/page.tsx
Due: prettier --write, eslint --fix

Refactor code for consistency and readability across multiple components
  app/JobData/data/availableJobs.ts
  app/applications/page.tsx
  app/components/ApplicationsTable.tsx
  app/components/AvailableJobsList.tsx
  app/components/HeroPanel.tsx
  app/components/SummaryCards.tsx
  app/components/ui/calendar.tsx
  app/components/ui/dialog.tsx
  app/jobs/page.tsx
  app/page.tsx
Due: prettier --write, eslint --fix

Add Firestore test component and update profile handler type
  app/applications/page.tsx
  app/page.tsx
Due: prettier --write, eslint --fix

remove style formatter for css
  .lintstagedrc
Due: none
