Repository edombelayneh/Hirelytics: changes, and which lint-staged commands are due for each by the changed paths.
All: stylelint --fix, prettier --write, eslint --fix

.lintstagedrc:

{
  "*.css": [
    "stylelint --fix",
    "prettier --write"
  ],
  "*.{js,jsx,ts,tsx}": [
    "eslint --fix",
    "prettier --write"
  ],
  "*.{json,md,yml,yaml}": [
    "prettier --write"
  ]
}

fixed redirect to JobDetails, fixed firebase saving issue and changed save collection to jobpostings, updated job structure, added in job saved success pop up
  app/recruiter/addNewJob/page.tsx
Due: prettier --write, eslint --fix

made recruiter jobs page
  __tests__/recruiter/jobs/jobs.test.tsx
  app/AppShell.tsx
  app/components/AvailableJobsList.tsx
  app/components/JobCard.test.tsx
  app/components/JobCard.tsx
  app/components/Navbar.test.tsx
  app/components/Navbar.tsx
  app/recruiter/jobs/page.tsx
Due: prettier --write, eslint --fix

upgrade versions to resolve vulnerabilities
  package-lock.json
Due: prettier --write

Implement job scraping functionality and integrate with Firestore
  __tests__/applicant/addExternalJob/addExternalJob.test.tsx
  app/api/scrape-job/route.ts
  app/applicant/addExternalJob/page.tsx
  app/utils/applicationFirebase.ts
Due: prettier --write, eslint --fix

fix: make husky pre-commit executable
  .husky/pre-commit
Due: none

chore: add gitattributes for consistent line endings
  .gitattributes
Due: none

Fix application payload defaults and stabilize add-external-job tests
  __tests__/applicant/addExternalJob/addExternalJob.test.tsx
  app/utils/applicationFirebase.ts
Due: prettier --write, eslint --fix

- Made "back to my jobs" button consistent to the overall format - Added comments to each use effect and to the JobId generating function.
  app/recruiter/addNewJob/page.tsx
Due: prettier --write, eslint --fix

added recruiter job details page, and added tests for it
  __tests__/applicant/jobs/[jobId]/JobDetailsPage.test.tsx
  __tests__/recruiter/jobs/[jobId]/JobDetailsPage.test.tsx
  __tests__/recruiter/jobs/jobs.test.tsx
  __tests__/recruiter/jobs/page.test.tsx
  app/recruiter/jobs/[jobId]/page.tsx
Due: prettier --write, eslint --fix

Added External Job saving function to Firebase and tests.
  __tests__/applicant/addExternalJob/addExternalJob.test.tsx
  __tests__/applicant/applications/MyApplicationsPage.test.tsx
  app/applicant/addExternalJob/page.tsx
  app/utils/applicationFirebase.ts
Due: prettier --write, eslint --fix

Refactor tests to improve Firestore mocks and update job application logic
  __tests__/applicant/jobs/Jobs.test.tsx
  __tests__/applicant/jobs/[jobId]/JobDetailsPage.test.tsx
  __tests__/recruiter/JobDetails/page.test.tsx
  __tests__/recruiter/myJobs/page.test.tsx
  app/components/ApplicationsTable.test.tsx
  app/components/AvailableJobsList.test.tsx
Due: prettier --write, eslint --fix

added job details page to the recruiter available jpbs page and added tests
  .gitattributes
  __tests__/applicant/jobs/[jobId]/JobDetailsPage.test.tsx
  __tests__/recruiter/jobs/[jobId]/JobDetailsPage.test.tsx
  app/components/AvailableJobsList.tsx
  app/components/JobCard.tsx
  app/recruiter/jobs/[jobId]/page.tsx
Due: prettier --write, eslint --fix

Filter out falsy values from unique job types in AvailableJobsList component
  app/components/AvailableJobsList.tsx
Due: prettier --write, eslint --fix

fix: update link path for adding a new job
  app/components/EmptyMyJobs.tsx
Due: prettier --write, eslint --fix

Add safeHref utility to ensure absolute URLs in ApplicantsTable
  app/components/job/ApplicantsTable.tsx
Due: prettier --write, eslint --fix

Refactor RecruiterMyJobsPage tests to use single quotes for consistency
  __tests__/recruiter/myJobs/page.test.tsx
Due: prettier --write, eslint --fix

Moved "Back to My Jobs" button
  app/recruiter/addNewJob/page.tsx
Due: prettier --write, eslint --fix

New jobs now save the currently signed-in recruiter as recruiterId instead of a hardcoded value. - Fixed Job Details loading issue.
  __tests__/recruiter/addNewJob/addNewJob.test.tsx
  app/recruiter/addNewJob/page.tsx
Due: prettier --write, eslint --fix

Removed PageTitle.tsx and made all the fonts match the others.
  app/applicant/applications/page.tsx
  app/components/PageTitle.tsx
Due: prettier --write, eslint --fix

Added Responsiveness
  app/components/Navbar.tsx
Due: prettier --write, eslint --fix

Added spacing consistency.
  app/applicant/applications/page.tsx
  app/applicant/profile/ProfilePage.tsx
Due: prettier --write, eslint --fix

Remove Jobs component and related imports from temp_jobs.tsx
  temp_jobs.tsx
Due: prettier --write, eslint --fix

fixed errors
  __tests__/recruiter/jobs/jobs.test.tsx
  __tests__/recruiter/jobs/page.test.tsx
  app/recruiter/jobs/page.tsx
  temp_jobs.tsx
Due: prettier --write, eslint --fix

Fix the spacing because it reverted.
  app/components/AvailableJobsList.tsx
Due: prettier --write, eslint --fix

Job History Section on Profile Page
  app/applicant/profile/ProfilePage.tsx
  app/applicant/profile/page.tsx
  app/utils/jobHistory.ts
Due: prettier --write, eslint --fix

Fixed requested changes
  __tests__/utils/applicationFirebase.test.ts
  app/utils/applicationFirebase.ts
Due: prettier --write, eslint --fix

- Fixed npm run build errors, npm run build now runs successfully!
  __tests__/recruiter/addNewJob/addNewJob.test.tsx
  app/recruiter/addNewJob/page.tsx
Due: prettier --write, eslint --fix

fix recursive file paths, moved the install dependencies to after the npm ci as suggested
  .github/workflows/pr-checks.yml
Due: prettier --write

remove eslint from workflow because it also runs in the build
  .github/workflows/pr-checks.yml
Due: prettier --write

Apply suggestion from @Copilot
  .github/workflows/pr-checks.yml
Due: prettier --write

add env to the build
  .github/workflows/pr-checks.yml
Due: prettier --write

added pathing to secret keys
  .github/workflows/pr-checks.yml
Due: prettier --write

removed the outcome from application
  __tests__/applicant/applications/MyApplicationsPage.test.tsx
  __tests__/utils/applicationFirebase.test.ts
  app/JobData/data/jobs.ts
  app/JobData/data/mockData.ts
  app/applicant/addExternalJob/page.tsx
  app/applicant/applications/[applicationId]/page.tsx
  app/components/ApplicationsTable.test.tsx
  app/components/ApplicationsTable.tsx
  app/components/HeroPanel.test.tsx
  app/data/jobs.ts
  app/data/mockData.ts
  app/home/page.tsx
  app/utils/applicationFirebase.ts
  app/utils/badgeColors.ts
  app/utils/index.ts
Due: prettier --write, eslint --fix

added step by step instructions for help
  app/components/instructions.md
Due: prettier --write

update colspan -1
  app/components/ApplicationsTable.tsx
Due: prettier --write, eslint --fix

Apply suggestion from @Copilot
  app/components/ApplicationsTable.test.tsx
Due: prettier --write, eslint --fix

Changed id to string and made it match firebase assigned docid. - Fixed addnewJob.test.tsx file to reflect these changes.
  __tests__/recruiter/addNewJob/addNewJob.test.tsx
  app/recruiter/addNewJob/page.tsx
Due: prettier --write, eslint --fix

refactor: update job parsing logic and enhance job filtering in components
  __tests__/applicant/jobs/Jobs.test.tsx
  __tests__/recruiter/jobs/jobs.test.tsx
  app/JobData/data/availableJobs.ts
  app/api/jobs/parse-url/route.ts
  app/applicant/addExternalJob/page.tsx
  app/applicant/jobs/page.tsx
  app/components/AvailableJobsList.tsx
  app/components/JobCard.tsx
  app/data/availableJobs.ts
  app/page.tsx
  app/recruiter/jobs/page.tsx
  app/recruiter/myJobs/page.tsx
Due: prettier --write, eslint --fix

fix: update package-lock.json to change dev to devOptional and add react-is module
  package-lock.json
Due: prettier --write
